[Desktop Entry]
Name=Quickddit
Keywords=quickddit;reddit;dkreddit;readit;ureadit;ureddit;
Exec=quickddit %U
Icon=quickddit.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#e95420
X-Ubuntu-Splash-Image=quickddit-splash-image.svg
Name[en_US]=Quickddit
